@using PhoneStoreApplication.ViewModel
@model FilteredPhonesViewModel

@{
   Layout = "_Layout";
}

<!DOCKTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css/phone.css" type="text/css"/>
      <title>PhoneStore</title>
   </head>
   <body>
      <form method="get">
         <div class="row">
            <div class="col-sm-8">
               <div class="form-inline">
                  @Html.DropDownList("brandId", 
                  Model.PhonesBrands,
                  "Усі наявні бренди телефону",
                  new { @class = "form-control" })
               </div>
            </div>
            <div class="col-sm-4"><input type="submit" value="Пошук" class="btn button-color col-sm-4" /></div>
         </div>
      </form>
      @if (!Model.FilteredPhones.Any())
      {
      <div class="text-center">Не знайдено телефонів для продажу</div>
      }
      <div class="row row-cols-1 row-cols-md-5 g-2">
         @foreach (var phone in Model.FilteredPhones)
         {
         <div class="col">
            <div class="card h-100 border-right-1 box-shadow">
               <img class="image-position" src="@phone.ImageUrl" \ alt="Phone Image">
               <div class="card-body">
                  <h5 class="card-title h-20">@phone.PhoneNaming @phone.Color @phone.Storage</h5>
                  <p class="card-text">@phone.PhoneBrand.BrandName - @phone.OperatingSystem.ToString()</p>
                  <p class="card-text">@phone.Price ₴</p>
               </div>
               <a class="btn button-color" asp-action="Add" asp-controller="Cart" asp-route-id="@phone.Id">Додати в корзину</a>
            </div>
         </div>
         }
      </div>
   </body>
</html>

